<div class="user-layout">
  <!-- Sidebar for Member Navigation -->
  <nav class="sidebar">
    <ul>
      <li><a routerLink="/member/book-gallery">Book Gallery</a></li>
      <li><a routerLink="/member/borrowed-history">Borrowed History</a></li>
      <li><a routerLink="/member/member-dashboard">Dashboard</a></li>
      <li><a routerLink="/member/reserved-books">Reserved Books</a></li>
    </ul>
  </nav>

  <!-- Main content that will change based on the route -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

