Afra
 <!-- Top Navbar -->
  
 <div class="container mt-4">
  <h4 class="mb-4">Add Book</h4>
  <form>
    <div class="mb-3">
      <label for="bookFile" class="form-label">Books List (xlsx format):</label>
      <input class="form-control" type="file" id="bookFile">
    </div>
    <div class="mb-3">
      <button type="button" class="btn btn-warning">Import</button>
      <button type="button" class="btn btn-outline-secondary">Download Sample</button>
    </div>
<div class="card">
  <div class="card-header">
    <h2>Add a New Book</h2>

  </div>


    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="title" class="form-label">Title *</label>
        <input type="text" class="form-control" id="title" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="issueYear" class="form-label">Issue Year *</label>
        <input type="number" class="form-control" id="issueYear" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="publisher" class="form-label">Publisher *</label>
        <input type="text" class="form-control" id="publisher" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="isbn" class="form-label">ISBN *</label>
        <input type="text" class="form-control" id="isbn" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="price" class="form-label">Price *</label>
        <input type="number" class="form-control" id="price" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="category" class="form-label">Category *</label>
        <select class="form-select" id="category" required>
          <option selected disabled>Select a category</option>
          <option value="fiction">Fiction</option>
          <option value="non-fiction">Non-Fiction</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="author" class="form-label">Author *</label>
        <input type="text" class="form-control" id="author" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="subCategory" class="form-label">Sub-Category *</label>
        <input type="text" class="form-control" id="subCategory" required>
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-warning">Add Book</button>
    </div>
  </form>
</div>
    

    <!-- My Agency Tab -->
    <!-- <li class="nav-item">
      <button
        class="nav-link"
        data-bs-toggle="modal"
        data-bs-target="#agencyModal"
        role="tab"
      >
        <div class="icon-circle">
          <img src="https://via.placeholder.com/80" alt="My Agency">
        </div>
        My Agency
      </button>
    </li>
  </ul> -->

  <!-- Modals -->
  <!-- Exhibitor Modal
  <div
    class="modal fade"
    id="exhibitorModal"
    tabindex="-1"
    aria-labelledby="exhibitorModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exhibitorModalLabel">Exhibitor Information</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Exhibitor-related content goes here.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div
    class="modal fade"
    id="publisherModal"
    tabindex="-1"
    aria-labelledby="publisherModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="publisherModalLabel">
            Publisher Conference Details
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Publisher conference-related content goes here.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- My Agency Modal
  <div
    class="modal fade"
    id="agencyModal"
    tabindex="-1"
    aria-labelledby="agencyModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agencyModalLabel">My Agency Information</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          My agency-related content goes here.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->


