<div class="admin-layout d-flex" >
  <div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom" aria-current="page"[routerLink]="['/admin']" routerLinkActive="active"><i
        class="fas fa-user-secret me-2"></i>Dashboard
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="list-group list-group-flush my-3">
      <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [routerLink]="['/admin/book/addBook']"><i
          class="fas fa-project-diagram me-2"></i>Add Book</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [routerLink]="['/admin/book/booktable']" routerLinkActive="active"><i
          class="fas fa-chart-line me-2"></i>Book Table</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [routerLink]="['/admin/book/request']" routerLinkActive="active"><i
          class="fas fa-paperclip me-2"></i>Requests</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [routerLink]="['/admin/book/record']" routerLinkActive="active"><i
         class="fas fa-paperclip me-2"></i>Requests</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [routerLink]="['/admin/book/return']" routerLinkActive="active"><i
          class="fas fa-paperclip me-2"></i>Return</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
          class="fas fa-power-off me-2"></i>Logout</a>
    </div>
  </div>

  <div class="admin-content flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </div>
</div>





