/* Container Background */
.container {
  background-color: #f2f5f8;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

/* Table */
.table {
  background-color: #001f3f;
  color: white;
}

.table thead {
  background-color: #002b5c;
}

.table tbody tr:hover {
  background-color: #003d80;
}

.table th,
.table td {
  color: white;
}

/* Buttons */
.btn-success,
.btn-danger,
.btn-primary {
  color: white;
  border: none;
}

.btn-success {
  background-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
}

.btn:hover {
  opacity: 0.9;
}

/* Pagination */
.pagination .page-link {
  background-color: #001f3f;
  color: white;
}

.pagination .page-link:hover {
  background-color: #003d80;
}
h2{
  color: black;
}
