<div class="gallery-container">
  <h2>Book Gallery</h2>
  <div class="gallery">

      <div class="book-image">
        <img [src]="books.image?.image2Path" alt="{{books.name}}">
      </div>
      <div class="book-details">
        <h3>{{books.name}}</h3>
        <p class="author" (click)="viewAuthorBooks(books.author?.authorId)" >by {{books.author?.name}}</p>
        <button class="view-button" (click)="BookRequest()">Request Book</button>
      </div>

  </div>
</div>

<div class="gallery-container">
  <h2>Book Gallery</h2>
  <div class="gallery row row-cols-1 row-cols-md-3 g-4">
    <div
      class="col book-item"
      *ngFor="let book of similarBooks"
      (click)="viewbook(book.bookid)" >
      <div class="card h-100">
        <div class="position-relative">
          <img
            [src]="book.image?.image2Path"
            class="card-img-top"
            alt="{{book.name}}">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">{{book.name}}</h5>
          <p class="card-text">{{book.author?.name}}</p>
          <button
            class="btn btn-primary"
            [routerLink]="['/member/book-gallery/viewbook/', book.bookid]"
          >
            View Book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
