<div class="home">
  <!-- <img src='Features/image.jpeg' alt="Vision Image"> -->

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="Wisdom Wellspring.jpg" alt="Logo" width="50px"  />
        <a class="navbar-brand" href="#"><p>Wisdom Wellspring</p></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ml-auto" id="navbar-right" >
            <li class="nav-item"><a class="nav-link" href="#slider">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#featured-books">Featured</a></li>
            <li class="nav-item"><a class="nav-link" href="#about-us">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#quotes">Quotes</a></li>
            <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
          </ul>
        </div>

      </div>
    </nav>
  </body>

    <!-- END nav -->
    <!-- <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="photos/Home.jpg" class="d-block w-100" alt="Building 1">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="photos/Home2.jpg" class="d-block w-100" alt="Building 2">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="photos/Home.jpg" class="d-block w-100" alt="Building 3">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div> -->

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="photos/shot-panoramic-composition-library_23-2150315619.avif" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 70px;">..Welcome To Our Library  Zone..</h1>
            <h3>“People can lose their lives in libraries. They ought to be warned.”</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="photos/international-day-education-scene-with-fantasy-style_23-2151040365.avif" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 70px;">..Welcome To Our Library  Zone..</h1>
            <h3>“In principle and reality, libraries are life-enhancing palaces of wonder.”</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="photos/large-collection-old-books-wooden-bookshelf-generated-by-artificial-intelligence_188544-127262.avif" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 70px;">..Welcome To Our Library  Zone..</h1>
            <h3>“Without libraries what have we? We have no past and no future.”</h3>
          </div>
        </div>
      </div>
    </div>





    <section id="company-services" class="padding-large pb-1 mt-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
            <div class="icon-box d-flex flex-column align-items-center text-center">
              <div class="icon-box-icon pe-3 pb-3">
                <!-- Example Bootstrap icon (use any icon from Bootstrap Icons) -->
                <i class="bi bi-cart4" style="font-size: 2rem;"></i>
              </div>
              <div class="icon-box-content">
                <h4 class="card-title mb-1 text-capitalize text-dark">Book Borrowing</h4>
                <p>Browse through our extensive collection and borrow books for a specified time period. Easily manage your rentals through our system</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
            <div class="icon-box d-flex flex-column align-items-center text-center">
              <div class="icon-box-icon pe-3 pb-3">
                <!-- Example Bootstrap icon (use any icon from Bootstrap Icons) -->
                <i class="bi bi-check-circle" style="font-size: 2rem;"></i>
              </div>
              <div class="icon-box-content">
                <h4 class="card-title mb-1 text-capitalize text-dark">Book Search</h4>
                <p>Search for books by title, author, or category. Our advanced search feature helps you find exactly what you're looking for.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
            <div class="icon-box d-flex flex-column align-items-center text-center">
              <div class="icon-box-icon pe-3 pb-3">
                <!-- Example Bootstrap icon (use any icon from Bootstrap Icons) -->
                <i class="bi bi-tag" style="font-size: 2rem;"></i>
              </div>
              <div class="icon-box-content">
                <h4 class="card-title mb-1 text-capitalize text-dark">E-Books</h4>
                <p>Access a wide range of e-books and digital resources directly from our platform for quick and convenient reading.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
            <div class="icon-box d-flex flex-column align-items-center text-center">
              <div class="icon-box-icon pe-3 pb-3">
                <!-- Example Bootstrap icon (use any icon from Bootstrap Icons) -->
                <i class="bi bi-shield-lock" style="font-size: 2rem;"></i>
              </div>
              <div class="icon-box-content">
                <h4 class="card-title mb-1 text-capitalize text-dark">100% secure payment</h4>
                <p>Enjoy a peaceful reading environment in our library's dedicated reading rooms. Ideal for study and quiet reading sessions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<section id="featured-books" class="p-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4">Featured Books</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let book of books">
        <div class="card">
          <img [src]="book.image" class="card-img-top rounded-3" [alt]="book.bookType">
          <div class="card-body rounded-3">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text ">{{ book.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="about-us" class="">
  <h2 style="margin-top: 40px ;">About Us</h2>
  <div class="container mt-4">

    <div class="row">
      <!-- Vision Section -->
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <img src='Features/book5.jpg' alt="Vision Image" class="img-fluid mb-3" style="max-width: 400px; height: auto;">
          <h3>Vision</h3>
          <p><b>Defines the ideal desired future state of what it wants to achieve over time and provides guidance and<br>
            inspiration for what the library program aims to accomplish in five or more years.</b></p>
        </div>
      </div>

      <!-- Mission Section -->
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <img src="Features/Book.7.jpg" alt="Mission Image" class="img-fluid mb-3" style="max-width: 400px; height: auto;">
          <h3>Mission</h3>
          <p><b>Creating a knowledge society through the preservation of intellectual heritage of the nation.<br>
            Development of National library and information system.</b><br>
           <br>
           </p>
        </div>
        <div>

        </div>
      </div>

    </div>
  </div>
</section>



<section id="limited-offer" class="padding-large" style="background-image: url(Features/Free-book-hd-wallpapers.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height:500px ; ">
  <div class="container mt-4">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 text-center">
        <div class="image-holder">
          <!-- <img src="Features/Book.7.jpg" class="img-fluid" alt="banner"> -->
        </div>
      </div>
      <div class="col-md-5 offset-md-1 mt-5 mt-md-5 text-center text-md-start">
        <h2 class="text-white">30% Discount on all<br> E-Books. Hurry Up !!!</h2>

        <!-- Countdown Timer Box -->
<div id="countdown-clock" class="d-flex align-items-center my-3 p-4 border rounded-3" style="background-color: rgba(0, 0, 0, 0.7);">
  <div class="time d-grid pe-3 text-white">
    <span class="days fs-1 fw-normal">10</span>
    <small>Days</small>
  </div>
  <span class="fs-1 text-primary">:</span>
  <div class="time d-grid pe-3 ps-3 text-white">
    <span class="hours fs-1 fw-normal">12</span>
    <small>Hrs</small>
  </div>
  <span class="fs-1 text-primary">:</span>
  <div class="time d-grid pe-3 ps-3 text-white">
    <span class="minutes fs-1 fw-normal">30</span>
    <small>Min</small>
  </div>
  <span class="fs-1 text-primary">:</span>
  <div class="time d-grid ps-3 text-white">
    <span class="seconds fs-1 fw-normal">45</span>
    <small>Sec</small>
  </div>
</div>


        <!-- Shop Collection Button -->
        <a href="index.html" class="btn mt-3 text-white" style="background-color: #f56b2a;">Book Collection</a>
      </div>
    </div>
  </div>
</section>

<section id="quotes" class="p-2 bg-light mt-5">
  <div class="container">
    <h2 class="text-center mb-4">Quote of the Day</h2>
    <div id="quoteCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <blockquote class="blockquote text-center">
            <p style="color: rgb(4, 4, 64);">"The best way to predict the future is to create it."</p>
            <footer class="blockquote-footer" style="color: rgb(95, 32, 32);">Peter Drucker</footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="blockquote text-center">
            <p style="color: rgb(2, 53, 15);" >"Success usually comes to those who are too busy to be looking for it."</p>
            <footer class="blockquote-footer" style="color: rgb(136, 24, 24);">Henry David Thoreau</footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="blockquote text-center">
            <p style="color: rgb(50, 2, 47);">"Don't watch the clock; do what it does. Keep going."</p>
            <footer class="blockquote-footer" style="color: rgb(71, 24, 24);">Sam Levenson</footer>
          </blockquote>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#quoteCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#quoteCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>



<section id="categories mt-4">
  <div class="container">
    <div class="section-title overflow-hidden mb-4">
      <h3 class="d-flex align-items-center justify-content-center">Categories</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 border-0 rounded-3 position-relative">
          <a href="#slider">
            <img src="Features/image6.png" class="img-fluid rounded-3" alt="cart item">
            <h6 class="position-absolute bottom-0 bg-secondary m-4 py-2 px-3 rounded-3 shadow-sm">
              <a href="login.html" class="text-white text-decoration-none">Romance</a>
          </h6>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center mb-4 border-0 rounded-3">
          <a href="#slider">
            <img src="Features/img_6054aaa776ae7.png" class="img-fluid rounded-3" alt="cart item">
            <h6 class="position-absolute bottom-0 bg-secondary m-4 py-2 px-3 rounded-3 shadow-sm">
              <a href="login.html" class="text-white text-decoration-none">Fiction</a>
          </h6>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center mb-4 border-0 rounded-3">
          <a href="#slider">
            <img src="Features/OIP.jpg" class="img-fluid rounded-3" alt="cart item">
            <h6 class="position-absolute bottom-0 bg-secondary m-4 py-2 px-3 rounded-3 shadow-sm">
              <a href="login.html" class="text-white text-decoration-none">Mystery</a>
          </h6>

          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer bg-dark text-light pt-5 pb-4">
  <div class="container">
    <div class="row">
      <!-- About Us -->
      <div class="col-md-4 mb-3">
        <h5>About Wisdom Wellspring</h5>
        <p>
          Wisdom Wellspring is your trusted platform for exploring and discovering amazing books worldwide.
          Our motto is to nurture the love for reading and knowledge.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#slider" class="text-light text-decoration-none">Home</a></li>
          <li><a href="#featured-books" class="text-light text-decoration-none">Featured Books</a></li>
          <li><a href="#about-us" class="text-light text-decoration-none">About Us</a></li>
          <li><a href="#quotes" class="text-light text-decoration-none">Quotes of the Day</a></li>
        </ul>
      </div>




      <!-- Social Media -->
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <div>
          <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row mt-4">
      <div class="col text-center">
        <p class="mb-0">&copy; 2024 BookWorld. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>



  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>


<div class="admin-content flex-grow-1 p-4">
  <router-outlet></router-outlet>
</div>
