<div class="table-container">
    <h2>Records</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nic</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Approve Date</th>
          <th>Collected Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Record of records">
          <td>{{Record.$id}}</td>
          <td>{{Record.nic}}</td>
          <td>{{Record.memberName}}</td>
          <td>{{Record.Lastname}}</td>
          <td>{{Record.approvedDate}}</td>
          <td>{{Record.collectDate}}</td>
          <td>{{Record.returnDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>


