.container-fluid {
  font-family: Arial, sans-serif;
}

form .form-label {
  font-weight: bold;
}

.btn-group .btn {
  min-width: 100px;
}

.btn-group .active {
  background-color: #4A00E0;
  color: white;
}

body {
  background-image: url('/Saji Photo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 20px;
  background-color: #ffe6f2; /* Soft pink background */
  box-shadow: 0px 10px 30px rgba(105, 208, 255, 0.4); /* Pink shadow */
}

.otp-inputs input {
  width: 45px;
  height: 45px;
  font-size: 24px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.otp-inputs input:focus {
  border-color: #69ffda;
  box-shadow: 0px 0px 8px rgba(121, 105, 113, 0.4);
  outline: none;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #241f21; 
}

.btn-primary {
  background-color: #463a40;
  border-color: #080708;
}

.btn-primary:hover {
  background-color: #4e4247;
  border-color: #532639;
}

.btn-close {
  box-shadow: none;
}


